body {
    font-family: 'Roboto';
}
header {
    background-image: url('header.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer {
    background-image: url('footer.png');
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
p.header {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}
.left-header {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 50px;
}
.upper-header{
    color: lightgray;
    font-weight: bold; 
}
.lower-header {
    margin-top: -20px;
    color: white;
    font-size: 14px;
}
.middle-header {
    margin-top: -20px;
    color: white;
    font-weight: bold;
}
.middle {
    background-image: url('middle.png');
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 100px;
    padding-bottom: 200px;
}
.lower-middle{
    color: black;
    padding: 50px 20px;
}
.lower-middle-center{
    text-align: center;
    padding-bottom: 40px;
}
.lower-middle-text{
    margin-bottom: -7px;
    padding-left: 20px;
}
.lower-middle-bottom{
    background-color: #F5F5F5;
    text-align: center;
}
.center {
    text-align: center;
    color: white;
}
.center-text{
    margin-bottom: 50px;
    border: 1.5px solid white;
    font-size: 23px;
    display: table-cell;
}
