body {
    font-family: 'Roboto';
}
header {
    background-image: url('header.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer {
    background-image: url('footer.png');
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
p.header {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}
.left-header {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 50px;
}
.upper-header{
    color: lightgray;
    font-weight: bold; 
}
.lower-header {
    margin-top: -15px;
    color: white;
    font-size: 14px;
}
.middle-header {
    margin-top: -20px;
    color: white;
    font-weight: bold;
}
.upper-middle{
    color: black;
}
.left-panel{
    padding-top: 40px;
    padding-bottom: 40px;
}
.left-panel-text{
    margin-left: -35px;
}
.left-panel-bottom{
    margin-left: -1500px;
    margin-top: -15px;
}
.gallery2{
    margin-left: -5px;
}
.gallery3{
    margin-top: -32px;
}
.gallery4{
    margin-top: -40px;
    margin-left: -40px;
}
.gallery5{
    margin-top: -163px;
    margin-left: -3px;
}
.gallery6{
    margin-left: -3px;
    margin-top: -30px;
}
.gallery7{
    margin-top: 75px;
    margin-left: -185px;
}
.right-panel{
    margin-left: -50px;
    margin-top: -70px;
}
.right-panel-text{
    margin-left: -50px;
}
.middle {
    background-image: url('middle.png');
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 100px;
    padding-bottom: 200px;
}
.lower-middle {
    color: black;
    padding: 50px 20px;
    padding-top: 30px;
    padding-bottom: 100px;
}
.lower-middle-center{
    text-align: center;
    padding-bottom: 40px;
}
.lower-middle-text{
    margin-bottom: -7px;
    padding-left: 20px;
}
.lower-middle-bottom{
    background-color: #F5F5F5;
    text-align: center;  
    margin-top: 50px;
}
.center {
    text-align: center;
    color: white;
}
.center-box{
    text-align: center;
    color: white;
    display: table;
    border: 1.5px solid white;
    margin-left: 870px;
    margin-bottom: 30px;
}
.v-align{
    text-align: center;
    vertical-align: middle;
    margin-top: -15px;
    font-size: 23px;
    display: table-cell;
}
.box{
    vertical-align: top;
    display: inline-block;
}